# Pycharm
.idea

# Python
venv

# update_trused peers
update_trusted_peers/venv
update_trusted_peers/.idea

# jormungandr_controller
jormungandr_controller/venv
jormungandr_controller/log_*
jormungandr_controller/.idea
*my_config.json
*tmp*

# test
jcli.exe
jormungandr.exe
jormungandr-v*
storage*
test*