# Pycharm
.idea

# Python
venv
*pycache*

# update_trused peers
update_trusted_peers/venv
update_trusted_peers/.idea

# jormungandr_controller
jormungandr_controller/venv
jormungandr_controller/log_*
jormungandr_controller/.idea
jormungandr_controller/log_*
*my_config.json
*tmp*

# old_jormungandr_controller
old*
old_jormungandr_controller/venv
old_jormungandr_controller/log_*
old_jormungandr_controller/.idea
*my_config.json
*tmp*

# test
jcli.exe
jormungandr.exe
jormungandr-v*
storage*
test*

# telegram_bot
telegram*